[submodule "external/log-it-cpp"]
	path = external/log-it-cpp
	url = https://github.com/NewYaroslav/log-it-cpp.git
	branch = main
[submodule "external/time-shield-cpp"]
	path = external/time-shield-cpp
	url = https://github.com/NewYaroslav/time-shield-cpp.git
	branch = main
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/event-hub-cpp"]
	path = external/event-hub-cpp
	url = https://github.com/NewYaroslav/event-hub-cpp.git
	branch = main
[submodule ".github/doxygen-awesome-css"]
	path = .github/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
