[submodule "libs/log-it-cpp"]
	path = libs/log-it-cpp
	url = https://github.com/NewYaroslav/log-it-cpp.git
[submodule "libs/time-shield-cpp"]
	path = libs/time-shield-cpp
	url = https://github.com/NewYaroslav/time-shield-cpp.git
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule ".github/doxygen-awesome-css"]
	path = .github/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
